Assignment

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

Data = [4, 8, 15, 16, 23, 42]
series = pd.Series(Data)
print (series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

my_series = pd.Series(my_list)
my_series

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame.  Then, print the DataFrame.

In [7]:
data = {'Name' : ['Alice','Bob', 'Claire'], 'Age' : ['25', '30', '27'], 'Gender' : ['Female' , 'male', 'Female']}
df = pd.DataFrame(data)
df

     Name Age  Gender
0   Alice  25  Female
1     Bob  30    male
2  Claire  27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A DataFrame is a two-dimensional and tabular data structure with labeled axes (rows and columns) in pandas whereas A Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating-point numbers, Python objects, etc.)

In [8]:
# Creating a Series
s = pd.Series([1, 3, 5, 7, 9])

# Creating a DataFrame
df = pd.DataFrame({'numbers': [1, 2, 3, 4, 5], 'letters': ['a', 'b', 'c', 'd', 'e']})

print(s)
print(df)

0    1
1    3
2    5
3    7
4    9
dtype: int64
   numbers letters
0        1       a
1        2       b
2        3       c
3        4       d
4        5       e

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

There are several common functions that can be used to manipulate data in a Pandas DataFrame. Here are some of them:

a) dropna(): This function is used to remove missing or null values from a DataFrame. It can be useful when you want to clean up your data before performing any analysis on it.

b) fillna(): This function is used to fill missing or null values in a DataFrame with a specified value. It can be useful when you want to replace missing data with a value that makes sense for your analysis.

c) groupby(): This function is used to group data in a DataFrame based on one or more columns. It can be useful when you want to perform aggregate calculations on subsets of your data.

d) merge(): This function is used to combine two or more DataFrames into a single DataFrame. It can be useful when you have data split across multiple tables that you want to combine into a single table.

e) pivot_table(): This function is used to create a pivot table from a DataFrame. It can be useful when you want to summarize your data by one or more columns.

f) sort_values(): This function is used to sort the rows of a DataFrame by one or more columns. It can be useful when you want to order your data in a specific way.

g) apply(): This function is used to apply a function to each row or column of a DataFrame. It can be useful when you want to perform a custom calculation on your data.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

DataFrame & Panel are mutable

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [9]:
# Create the series objects
s1 = pd.Series([1, 2, 3])
s2 = pd.Series(['a', 'b', 'c'])
s3 = pd.Series([4.0, 5.0, 6.0])

In [18]:
df = pd.concat([s1,s2,s3], axis=1)

In [19]:
df

   0  1    2
0  1  a  4.0
1  2  b  5.0
2  3  c  6.0